@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.web-camera-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ccc;
    border-radius: 4px;
    width: 70%;
}

.camera-button {
    margin-bottom: 2rem;
}

.camera-box {
    .camera-shutter {
        opacity: 0;
        width: 450px;
        height: 337.5px;
        background-color: #fff;
        position: absolute;

        &.flash {
            opacity: 1;
        }
    }
}

.camera-shoot {
    margin: 1rem 0;

    button {
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        img {
            height: 35px;
            object-fit: cover;
        }
    }
}

.camera-loading {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 150px;
    margin: 3rem 0 0 -1.2rem;

    ul {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 999999;
        margin: 0;
    }

    .loader-circle {
        display: block;
        height: 14px;
        margin: 0 auto;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        position: absolute;
        width: 100%;
        padding: 0;

        li {
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            line-height: 10px;
            padding: 0;
            position: relative;
            margin: 0 0 0 4px;
            background: #999;
            animation: preload 1s infinite;
            top: -50%;
            border-radius: 100%;

            &:nth-child(2) {
                animation-delay: .2s;
            }

            &:nth-child(3) {
                animation-delay: .4s;
            }
        }
    }
}


@keyframes preload {
    0% {
        opacity: 1
    }

    50% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
    font-family: GangwonEduPowerExtraBoldA;
    line-height: 1.68;
    color: #35465d;
}


.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.nav-link {
    font-family: GangwonEduPowerExtraBoldA;
    line-height: 1.68;
    color: #35465d;
}

.section {
    margin-top: 100px;
}

.title {
    font-family: GangwonEduPowerExtraBoldA;
    line-height: 1.67;
    text-align: center;
    color: #35465d;
}

.subtitle {
    font-family: GangwonEduPowerExtraBoldA;
    line-height: 1.53;
    text-align: left;
    color: #35465d;
}

.content {
    font-family: GangwonEduPowerExtraBoldA;
    line-height: 1.53;
    text-align: left;
    color: #35465d;
}

.button {
    font-family: GangwonEduPowerExtraBoldA;
    line-height: 1.53;
    text-align: left;
    color: #35465d;
    border: 1px dashed
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .navbar-brand {
        font-size: 2rem;
    }
}

.youtube-link {
    font-family: GangwonEduPowerExtraBoldA;
    font-size: 2rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
}